@page "/"

<h2>Forum API</h2>
<br />

Welcome to the Forum API demonstration site
<br />

<TelerikButton OnClick="@DemoHandler" ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Demo</TelerikButton>

<br />

@demoString

