@page "/posts/{TId:long}"
@using ForumApiWebLibrary.Client.Components
@inject IForumApiClient ForumApiClient

@attribute [Authorize]

@layout MainLayout

<PageTitle>Posts Page</PageTitle>

<CascadingValue Value="TId">
    <CascadingValue Value="ActiveTabIndex">
        <TelerikTabStrip ActiveTabIndex="ActiveTabIndex" ActiveTabIndexChanged="@TabChangedHandler">
            <TabStripTab Title="Tree">
                <PostsTreeView />
            </TabStripTab>
            <TabStripTab Title="Grid">
                <p>Coming Soon</p>
            </TabStripTab>
            <TabStripTab Title="List">
                <p>Coming Soon</p>
            </TabStripTab>
        </TelerikTabStrip>
    </CascadingValue>
</CascadingValue>
